<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Creative - Bootstrap 3 Responsive Admin Template">
    <meta name="author" content="GeeksLabs">
    <meta name="keyword" content="Creative, Dashboard, Admin, Template, Theme, Bootstrap, Responsive, Retina, Minimal">
    <link rel="shortcut icon" href="img/favicon.png">

    <title>Smart City</title>

    <!-- Bootstrap CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- bootstrap theme -->
    <link href="css/bootstrap-theme.css" rel="stylesheet">
    <!--external css-->
    <!-- font icon -->
    <link href="css/elegant-icons-style.css" rel="stylesheet" />
    <link href="css/font-awesome.min.css" rel="stylesheet" />
    <!-- full calendar css-->
    <link href="assets/fullcalendar/fullcalendar/bootstrap-fullcalendar.css" rel="stylesheet" />
    <link href="assets/fullcalendar/fullcalendar/fullcalendar.css" rel="stylesheet" />
    <!-- easy pie chart-->
    <link href="assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css" rel="stylesheet" type="text/css" media="screen"/>
    <!-- owl carousel -->
    <link rel="stylesheet" href="css/owl.carousel.css" type="text/css">
    <link href="css/jquery-jvectormap-1.2.2.css" rel="stylesheet">
    <!-- Custom styles -->
    <link rel="stylesheet" href="css/fullcalendar.css">
    <link href="css/widgets.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/style-responsive.css" rel="stylesheet" />
    <link href="css/xcharts.min.css" rel=" stylesheet">
    <link href="css/jquery-ui-1.10.4.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/sweetalert2/6.6.2/sweetalert2.min.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/sweetalert2/6.6.2/sweetalert2.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="angular/ClientController.js"></script>


    <!-- =======================================================
        Theme Name: NiceAdmin
        Theme URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
        Author: BootstrapMade
        Author URL: https://bootstrapmade.com
    ======================================================= -->
</head>

<body ng-app="myApp" ng-controller="ClientCtrl">
<!-- container section start -->
<section id="container"  style="margin-left: 50px;" class="">


    <header class="header dark-bg">
        <div class="toggle-nav">
            <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"><i class="icon_menu"></i></div>
        </div>

        <!--logo start-->
        <a href="index.html" class="logo">Welcome <span class="lite">Client Name Here</span></a>
        <!--logo end-->

        <div class="nav search-row" id="top_menu">
            <!--  search form start -->
            <ul class="nav top-menu">
                <li>
                    <form class="navbar-form">
                        <input class="form-control" placeholder="Search" type="text">
                    </form>
                </li>
            </ul>
            <!--  search form end -->
        </div>




        <div class="top-nav notification-row">
            <!-- notificatoin dropdown start-->
            <ul class="nav pull-right top-menu">
                <li id="mail_notificatoin_bar" class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <i class="icon-envelope-l"></i>
                        <span class="badge bg-important">5</span>
                    </a>
                    <ul class="dropdown-menu extended inbox">
                        <div class="notify-arrow notify-arrow-blue"></div>
                        <li>
                            <p class="blue">You have 5 new messages</p>
                        </li>
                        <li>
                            <a href="#">
                                <span class="photo"><img alt="avatar" src="./img/amitpandey.jpg"></span>
                                <span class="subject">
                                    <span class="from">Moderator</span>
                                    <span class="time">1 min</span>
                                    </span>
                                <span >I want to add to serives node</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="photo"><img alt="avatar" src="./img/amitpandey.jpg"></span>
                                <span class="subject">
                                    <span class="from">Moderator</span>
                                    <span class="time">5 mins</span>
                                    </span>
                                <span >Add more nodes to cluster 1</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="photo"><img alt="avatar" src="./img/amitpandey.jpg"></span>
                                <span class="subject">
                                    <span class="from">Moderator</span>
                                    <span class="time">2 hrs</span>
                                    </span>
                                <span >Need to add more Cluster</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="photo"><img alt="avatar" src="./img/amitpandey.jpg"></span>
                                <span class="subject">
                                    <span class="from">Moderator</span>
                                    <span class="time">1 day</span>
                                    </span>
                                <span >Add 5 client node to cluster 3</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">See all messages</a>
                        </li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="profile-ava">
                                <img alt="" src="img/amitpandey.jpg">
                            </span>
                        <span class="username">Amit Pandey</span>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu extended logout">
                        <div class="log-arrow-up"></div>
                        <li class="eborder-top">
                            <a href="#"><i class="icon_profile"></i> My Profile</a>
                        </li>
                        <li>
                            <a href="#"><i class="icon_mail_alt"></i> My Inbox</a>
                        </li>
                        <li>
                            <a href="#"><i class="icon_chat_alt"></i> Message to client</a>
                        </li>
                        <li>
                            <a href="login.ejs"><i class="icon_key_alt"></i> Settings</a>
                        </li>
                        <li>
                            <a href="documentation.html"><i class="icon_key_alt"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
                <!-- user login dropdown end -->
            </ul>
            <!-- notificatoin dropdown end-->
        </div>
    </header>

            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header" style="border-bottom: 1px solid black"><i class="fa fa-laptop"></i> Dashboard</h3>

                </div>
            </div>

            <div class="row">


                <div class="col-md-3 " style="background-color: white;">

                 <h1 style="margin-left: 1%">Your Community Services</h1>
                    <div class="col-md-12" ng-repeat="service in Services">

                        <div  class="info-box blue-bg" ng-click="displayService($event)">
                            <i class="fa fa-adjust"></i>
                            <div class="count">1</div>
                            <div class="title">{{service.title}}</div>
                        </div><!--/.info-box-->
                    </div><!--/.col-->
                    <div class="col-md-12" data-toggle="modal" data-target="#1">

                            <button type="button" class="btn btn-primary" style="height: 50px; font-size: 150%;margin-bottom: 50px;">Manage Services</button>

                    </div><!--/.col-->
                </div>


                <div class="col-md-5" style="background-color: white;margin-left: 10px;">
                    <h1>Welcome to <strong>Villa Torino</strong> Community</h1>
                    <img src="img/Villa.jpg" style="width: 100%; height: 350px;">
                    <p>Our central downtown San Jose location, exquisite apartment features, spacious floor plans and luxurious resident amenities are just part of the reason living at Villa Torino is so desirable.
                        Villa Torino boasts 1, 2, and 3 bedroom floor plans with large living areas perfect for entertaining, generous bedrooms for the perfect at home feel, plush carpeting throughout, and tiled
                        kitchens and baths. Select units feature separate dining areas, generously sized kitchens with modern appliances and cabinetry. When you step outside your front door, you will be able to
                        take advantage of various community amenities suited to a relaxing lifestyle. Take a dip in our resort-style pool complete with spa, get in a workout at our fitness center, or just spend some time relaxing in the clubhouse.
                        Great urban adventures are just a heartbeat from your front door in San Jose and with access to the Light Rail. Meet your friends at San Pedro Square for a drink and dinner or grab some fresh produce to create
                        your own dinner party at the weekly Farmers Market. Catch a show at the Center for the Performing Arts, cheer for the Sharks at SAP Center, and visit the Tech Museum. If you prefer to stay outdoors, walk or bike at
                        Guadalupe River Park, a place where you can enjoy northern California’s fantastic scenery.
                        Your life at Villa Torino is in the center of it all so come find your perfect fit by scheduling a tour today!</p>


                </div>
                <div class="col-md-3" style="background-color: white;height: 700px;margin-left: 10px;padding-left: 50px;">
                    <h1>Report a new crime </h1>
                    <form style="width: 80%;margin-top: 30px;">

                        <div class="row form-group">
                            <input class="form-control no-border" type="text" ng-model="title" id="tit" placeholder = "Job Title..." required>
                        </div>

                        <div class="row form-group">
                            <select class="form-control no-border" ng-model="type" id="type">
                                <option>TA</option>
                                <option>RA</option>
                                <option>Cafeteria</option>
                                <option>Adminstration</option>
                            </select>
                        </div>

                        <div class="row form-group">
                            <input class="form-control no-border" id="desc" type="text" ng-model="description" placeholder = "Job Description..." required>
                        </div>

                        <div class="row form-group">
                            <input class="form-control no-border" id="loc" type="text" ng-model="location" placeholder = "Job Location..." required>
                        </div>

                        <div class="row form-group">
                            <input class="form-control no-border" id="contact" type="text" ng-model="email" placeholder = "Contact Email/Phone Number..." required>
                        </div>


                        <div class="row form-group">
                            <input class="form-control no-border" id="url" type="text" ng-model="url" placeholder = "Contact URL..." required>
                        </div>

                        <div class="row form-group">
                            <input class="form-control no-border" id="posted" type="text" ng-model="dateposted" placeholder = "Posted On..." required>
                        </div>

                        <div class="row form-group">
                            <input class="form-control no-border" id="dept" type="text" ng-model="department" placeholder = "Department..." required>
                        </div>

                        <div class="row form-group">
                            <input class="form-control no-border" id="rate" type="text" ng-model="payrate" placeholder = "Pay Rate..." required>
                        </div>

                        <div class="form-group row buttons">
                            <button type="button" class="col-sm-5 btn btn-primary" ng-click="jobPost()">Submit</button>
                            <label class="col-sm-2 col-form-label"></label>

                            <button type="reset" class=" col-sm-5 btn btn-danger">Reset</button>
                        </div>
                    </form>
                </div>

                     <!--<div class="row">-->
                         <!--<div class="col-md-10">-->
                             <!--<img src="img/cluster.png" style="max-width:50%;margin-left: 20%;margin-top: 5%">-->
                         <!--</div>-->
                     <!--</div>-->
                    <!--<div class="row">-->
                        <!--<div class="col-md-7">-->
                            <!--&lt;!&ndash;<button type="button" class="btn btn-primary" ng-click="addtocommunity()" style="margin-top: 100px;width: 250px;height: 100px; font-size: 150%">Add to Comunity</button>&ndash;&gt;-->
                            <!--&lt;!&ndash;<button type="button" class="btn btn-primary" style="margin-top: 100px;width: 250px;height: 100px; font-size: 150%">Leave from Comunity</button>&ndash;&gt;-->
                        <!--</div>-->
                        <!--<div class="col-md-2">-->
                            <!--&lt;!&ndash;<button type="button" class="btn btn-primary" ng-click="addtocommunity()" style="margin-top: 100px;width: 250px;height: 100px; font-size: 150%">Add to Comunity</button>&ndash;&gt;-->
                            <!--<button type="button" class="btn btn-primary" style="margin-top: 100px;width: 250px;height: 100px; font-size: 150%">Leave from Comunity</button>-->
                        <!--</div>-->
                    <!--</div>-->

            </div>





    <!--MODAL CONTENT-->

    <div class="modal fade" id="1" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" >Add Smart Node</h4>
                </div>

                    <div class="row" ng-repeat="service in Services" >
                        <div class="modal-body col-md-6" style="margin-left: 20px;">
                            <p>{{service.title}}</p>
                        </div>
                        <div class="modal-body col-md-2" >
                            <button type="button" class="btn btn-danger" ng-hide="true" data-dismiss="modal" >Subscribe</button>
                        </div>
                        <div class="modal-body col-md-1" >
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Unsubscribe</button>
                        </div>
                    </div>

                </div>


            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->




<!--end of modal-->

    <!-- javascripts -->
    <script src="js/jquery.js"></script>
    <script src="js/jquery-ui-1.10.4.min.js"></script>
    <script src="js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="js/jquery-ui-1.9.2.custom.min.js"></script>
    <!-- bootstrap -->
    <script src="js/bootstrap.min.js"></script>
    <!-- nice scroll -->
    <script src="js/jquery.scrollTo.min.js"></script>
    <script src="js/jquery.nicescroll.js" type="text/javascript"></script>
    <!-- charts scripts -->
    <script src="assets/jquery-knob/js/jquery.knob.js"></script>
    <script src="js/jquery.sparkline.js" type="text/javascript"></script>
    <script src="assets/jquery-easy-pie-chart/jquery.easy-pie-chart.js"></script>
    <script src="js/owl.carousel.js" ></script>
    <!-- jQuery full calendar -->
    <<script src="js/fullcalendar.min.js"></script> <!-- Full Google Calendar - Calendar -->
    <script src="assets/fullcalendar/fullcalendar/fullcalendar.js"></script>
    <!--script for this page only-->
    <script src="js/calendar-custom.js"></script>
    <script src="js/jquery.rateit.min.js"></script>
    <!-- custom select -->
    <script src="js/jquery.customSelect.min.js" ></script>
    <script src="assets/chart-master/Chart.js"></script>

    <!--custome script for all page-->
    <script src="js/scripts.js"></script>
    <!-- custom script for this page-->
    <script src="js/sparkline-chart.js"></script>
    <script src="js/easy-pie-chart.js"></script>
    <script src="js/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="js/jquery-jvectormap-world-mill-en.js"></script>
    <script src="js/xcharts.min.js"></script>
    <script src="js/jquery.autosize.min.js"></script>
    <script src="js/jquery.placeholder.min.js"></script>
    <script src="js/gdp-data.js"></script>
    <script src="js/morris.min.js"></script>
    <script src="js/sparklines.js"></script>
    <script src="js/charts.js"></script>
    <script src="js/jquery.slimscroll.min.js"></script>

    <!--<script src="angular/indexController.js"></script>-->
    <script>

        //knob
        $(function() {
            $(".knob").knob({
                'draw' : function () {
                    $(this.i).val(this.cv + '%')
                }
            })
        });

        //carousel
        $(document).ready(function() {
            $("#owl-slider").owlCarousel({
                navigation : true,
                slideSpeed : 300,
                paginationSpeed : 400,
                singleItem : true

            });
        });

        //custom select box

        $(function(){
            $('select.styled').customSelect();
        });

        /* ---------- Map ---------- */
        $(function(){
            $('#map').vectorMap({
                map: 'world_mill_en',
                series: {
                    regions: [{
                        values: gdpData,
                        scale: ['#000', '#000'],
                        normalizeFunction: 'polynomial'
                    }]
                },
                backgroundColor: '#eef3f7',
                onLabelShow: function(e, el, code){
                    el.html(el.html()+' (GDP - '+gdpData[code]+')');
                }
            });
        });

    </script>

</body>
</html>
