<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Creative - Bootstrap 3 Responsive Admin Template">
    <meta name="author" content="GeeksLabs">
    <meta name="keyword" content="Creative, Dashboard, Admin, Template, Theme, Bootstrap, Responsive, Retina, Minimal">
    <link rel="shortcut icon" href="img/favicon.png">

    <title>Smart City</title>

    <!-- Bootstrap CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- bootstrap theme -->
    <link href="css/bootstrap-theme.css" rel="stylesheet">
    <!--external css-->
    <!-- font icon -->
    <link href="css/elegant-icons-style.css" rel="stylesheet" />
    <link href="css/font-awesome.min.css" rel="stylesheet" />
    <!-- full calendar css-->
    <link href="assets/fullcalendar/fullcalendar/bootstrap-fullcalendar.css" rel="stylesheet" />
    <link href="assets/fullcalendar/fullcalendar/fullcalendar.css" rel="stylesheet" />
    <!-- easy pie chart-->
    <link href="assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css" rel="stylesheet" type="text/css" media="screen"/>
    <!-- owl carousel -->
    <link rel="stylesheet" href="css/owl.carousel.css" type="text/css">
    <link href="css/jquery-jvectormap-1.2.2.css" rel="stylesheet">
    <!-- Custom styles -->
    <link rel="stylesheet" href="css/fullcalendar.css">
    <link href="css/widgets.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/style-responsive.css" rel="stylesheet" />
    <link href="css/xcharts.min.css" rel=" stylesheet">
    <link href="css/jquery-ui-1.10.4.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/sweetalert2/6.6.2/sweetalert2.min.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/sweetalert2/6.6.2/sweetalert2.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="angular/ClientController.js"></script>


    <!--<script>-->
        <!--(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){-->
                <!--(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),-->
            <!--m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)-->
        <!--})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');-->

        <!--ga('create', 'UA-98696696-1', 'auto');-->
        <!--ga('send', 'pageview');-->

    <!--</script>-->


    <!-- =======================================================
        Theme Name: NiceAdmin
        Theme URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
        Author: BootstrapMade
        Author URL: https://bootstrapmade.com
    ======================================================= -->
</head>

<body ng-app="myApp" ng-controller="ClientCtrl">
<!-- container section start -->
<section id="container"  style="margin-left: 50px;" class="">


    <header class="header dark-bg">
        <div class="toggle-nav">
            <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"><i class="icon_menu"></i></div>
        </div>

        <!--logo start-->
        <a href="index.html" class="logo">Welcome <span class="lite">{{UserValue}}</span></a>
        <!--logo end-->

        <div class="nav search-row" id="top_menu">
            <!--  search form start -->
            <ul class="nav top-menu">
                <li>
                    <form class="navbar-form">
                        <input class="form-control" placeholder="Search" type="text">
                    </form>
                </li>
            </ul>
            <!--  search form end -->
        </div>




        <div class="top-nav notification-row">
            <!-- notificatoin dropdown start-->
            <ul class="nav pull-right top-menu">
                <li id="mail_notificatoin_bar" class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <i class="icon-envelope-l"></i>
                        <span class="badge bg-important">{{length}}</span>
                    </a>
                    <ul class="dropdown-menu extended inbox">
                        <div class="notify-arrow notify-arrow-blue"></div>
                        <li >
                            <p class="blue">{{length}}</p>
                        </li>
                        <li  ng-repeat="announcement in announcements" >
                            <a href="#">
                                <span class="photo"><img alt="avatar" src="./img/avatar.png"></span>
                                <span class="subject">
                                    <span class="from">Admin</span>
                                    <span class="time">{{announcement.date}}</span>
                                    </span>
                                <span >{{announcement.message}}</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="profile-ava">
                                <img alt="" src="img/avatar.png">
                            </span>
                        <span class="username">{{UserValue}}</span>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu extended logout">
                        <div class="log-arrow-up"></div>
                        <li class="eborder-top">
                            <a href="#"><i class="icon_profile"></i> My Profile</a>
                        </li>
                        <li>
                            <a href="#"><i class="icon_mail_alt"></i> My Inbox</a>
                        </li>
                        <li>
                            <a data-toggle="modal" data-target="#chat" ><i class="icon_chat_alt"></i> Message to user</a>
                        </li>
                        <li>
                            <a href="#"><i class="icon_key_alt"></i> Settings</a>
                        </li>
                        <li ng-click="Logout()">
                            <a href="#"><i class="icon_key_alt"></i> Log Out</a>
                        </li>

                    </ul>
                </li>
                <!-- user login dropdown end -->
            </ul>
            <!-- notificatoin dropdown end-->
        </div>
    </header>

    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header" style="border-bottom: 1px solid black"><i class="fa fa-laptop"></i> Dashboard</h3>

        </div>
    </div>

    <div class="row">



        <div class="col-md-3 " style="background-color: white;">

            <h1 style="margin-left: 1%">Your Community Services</h1>
            <div class="col-md-12" ng-repeat="service in Services">

                <div  class="info-box blue-bg" ng-click="displayService(service.title)">
                    <i class="fa fa-adjust"></i>
                    <div class="count">1</div>
                    <div class="title">{{service.title}}</div>
                </div><!--/.info-box-->
            </div><!--/.col-->
            <div class="col-md-12" data-toggle="modal" data-target="#1">

                <button type="button" class="btn btn-primary" style="height: 50px; font-size: 150%;margin-bottom: 50px;">Manage Services</button>

            </div><!--/.col-->
        </div>


        <!--initial dash board for user-->

        <div class="col-md-8" ng-hide="communityDetails" style="background-color:  white;margin-left: 10px;">

            <h1>Welcome to <strong>{{communityName}}</strong> Community</h1>
            <img src="img/Villa.jpg" style="width: 100%; height: 450px;">
            <p>Our central downtown San Jose location, exquisite apartment features, spacious floor plans and luxurious resident amenities are just part of the reason living at Villa Torino is so desirable.
                Villa Torino boasts 1, 2, and 3 bedroom floor plans with large living areas perfect for entertaining, generous bedrooms for the perfect at home feel, plush carpeting throughout, and tiled
                kitchens and baths. Select units feature separate dining areas, generously sized kitchens with modern appliances and cabinetry. When you step outside your front door, you will be able to
                take advantage of various community amenities suited to a relaxing lifestyle. Take a dip in our resort-style pool complete with spa, get in a workout at our fitness center, or just spend some time relaxing in the clubhouse.
                Great urban adventures are just a heartbeat from your front door in San Jose and with access to the Light Rail. Meet your friends at San Pedro Square for a drink and dinner or grab some fresh produce to create
                your own dinner party at the weekly Farmers Market. Catch a show at the Center for the Performing Arts, cheer for the Sharks at SAP Center, and visit the Tech Museum. If you prefer to stay outdoors, walk or bike at
                Guadalupe River Park, a place where you can enjoy northern California’s fantastic scenery.
                Your life at Villa Torino is in the center of it all so come find your perfect fit by scheduling a tour today!</p>

        </div>

        <!--end of initial dashboard-->






        <!--start of service specific dash board to be displayed when clicked on service-->


        <div class="col-md-5" ng-hide="History" style="background-color:  white;margin-left: 10px;">
            <h1>Service History</h1>

            <div  style="margin:20px;" ng-repeat="post in items">

                <div id="1" class="col-md-11 feed" style="background:white;margin-bottom:10px;box-shadow:10px 10px 5px #ccc ;border:1px solid #ccc;
                            padding:25px;" >
                    <div class="row">
                        <div class="col-md-3">
                            <div class="row">
                                <img src="./img/Villa.jpg"; style="max-height:100px;max-widht:100px">
                            </div>
                            <div class="row">
                                <p style="padding: 10px;">{{post.suspect}}</p>
                                <p style="padding: 10px;">{{post.location}}</p>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="row">
                                <h1>{{post.title}}</h1>
                                <span>{{post.dateandtime}}</span>
                            </div>
                            <div class="row" style="margin-top: 20px;">
                                <div class="col-md-12">
                                    <p class="description">
                                        Description :- <br>{{post.description}}
                                    </p>
                                    <p>Dateposted :- {{post.dateposted}}</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div>
                <div  class="container">
                    <div class="text-center">

                        <!-- pager -->
                        <ul ng-if="pager.pages.length" class="pagination">
                            <li ng-class="{disabled:pager.currentPage === 1}">
                                <a ng-click="setPage(1)">First</a>
                            </li>
                            <li ng-class="{disabled:pager.currentPage === 1}">
                                <a ng-click="setPage(pager.currentPage - 1)">Previous</a>
                            </li>
                            <li ng-repeat="page in pager.pages" ng-class="{pager.currentPage === page}">
                                <a ng-click="setPage(page)">{{page}}</a>
                            </li>
                            <li ng-class="{disabled:pager.currentPage === pager.totalPages}">
                                <a ng-click="setPage(pager.currentPage + 1)">Next</a>
                            </li>
                            <li ng-class="{disabled:pager.currentPage === pager.totalPages}">
                                <a ng-click="setPage(pager.totalPages)">Last</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <hr />
            </div>


        </div>


        <!--crime service post-->

        <div class="col-md-3" ng-hide="NewCrime" style="background-color: white;height: 700px;margin-left: 10px;padding-left: 50px;">
            <h1>Report a new crime </h1>
            <form style="width: 80%;margin-top: 30px;">

                <div class="row form-group">
                    <input class="form-control no-border" type="text" ng-model="title" id="tit" placeholder = "Crime Title..." required>
                </div>

                <div class="row form-group">
                    <input class="form-control no-border" id="desc" type="text" ng-model="description" placeholder = "Crime Description..." required>
                </div>

                <div class="row form-group">
                    <input class="form-control no-border" id="loc" type="text" ng-model="suspect" placeholder = "Suspect..." required>
                </div>

                <div class="row form-group">
                    <input class="form-control no-border" id="contact" type="text" ng-model="dateandtime" placeholder = "dateandtime..." required>
                </div>


                <div class="row form-group">
                    <input class="form-control no-border" id="url" type="text" ng-model="severity" placeholder = "severity( High, Medium , Low)...." required>
                </div>

                <div class="row form-group">
                    <input class="form-control no-border" id="posted" type="text" ng-model="location" placeholder = "location...." required>
                </div>

                <div class="row form-group">
                    <input class="form-control no-border" id="dept" type="text" ng-model="dateposted" placeholder = "dateposted..." required>
                </div>
                <div class="form-group row buttons">
                    <button type="button" class="col-sm-5 btn btn-primary" ng-click="jobPost('crimes')">Submit</button>
                    <label class="col-sm-2 col-form-label"></label>

                    <button type="reset" class=" col-sm-5 btn btn-danger">Reset</button>
                </div>
            </form>
        </div>


        <!--Event service post-->

        <div class="col-md-3" ng-hide="NewEvent" style="background-color: white;height: 700px;margin-left: 10px;padding-left: 50px;">
            <h1>Create a Event </h1>
            <form style="width: 80%;margin-top: 30px;">

                <div class="row form-group">
                    <input class="form-control no-border" type="text" ng-model="title" id="tit" placeholder = "Event Title..." required>
                </div>

                <div class="row form-group">
                    <input class="form-control no-border" id="desc" type="text" ng-model="description" placeholder = "Event Description..." required>
                </div>

                <div class="row form-group">
                    <input class="form-control no-border" id="contact" type="text" ng-model="location" placeholder = "Event Location..." required>
                </div>


                <div class="row form-group">
                    <input class="form-control no-border" id="url" type="text" ng-model="website" placeholder = "website..." required>
                </div>

                <div class="row form-group">
                    <input class="form-control no-border" id="dept" type="text" ng-model="date" placeholder = "date..." required>
                </div>

                <div class="row form-group">
                    <input class="form-control no-border" id="rate" type="text" ng-model="entryfees" placeholder = "entryfees....." required>
                </div>

                <div class="form-group row buttons">
                    <button type="button" class="col-sm-5 btn btn-primary" ng-click="jobPost('events')">Submit</button>
                    <label class="col-sm-2 col-form-label"></label>

                    <button type="reset" class=" col-sm-5 btn btn-danger">Reset</button>
                </div>
            </form>
        </div>


    </div>





    <!--MODAL CONTENT-->

    <div class="modal fade" id="1" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" >Manage Services</h4>
                </div>

                <div class="row" ng-repeat="service in Services" >
                    <div class="modal-body col-md-6" style="margin-left: 20px;">
                        <p>{{service.title}}</p>
                    </div>
                    <!--<div class="modal-body col-md-2" >-->
                        <!--<button  type="button" class="btn btn-danger" ng-click="subscribe(service.title)" ng-hide="Subscribe" data-dismiss="modal" >Subscribe</button>-->
                    <!--</div>-->
                    <div class="modal-body col-md-1" >
                        <button type="button" class="btn btn-danger" ng-click="unsubscribe(service.title)" ng-hide="Unsubscribe"  data-dismiss="modal">Unsubscribe</button>
                    </div>
                </div>

            </div>


        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->

    <!--MODAL CONTENT for chat to other user-->

    <div class="modal fade" id="chat" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" >Talk to you community people</h4>
                </div>
                <div class="modal-body row" style="margin-left: 10px;">
                    Select User :- <select>
                        <option value="volvo">User 1</option>
                        <option value="saab">User 2</option>
                        <option value="mercedes">User 3</option>
                        <option value="audi">User 4</option>
                    </select>
                </div>
                <div class="modal-body row" style="margin-left: 10px;">
                    <textarea rows="4" cols="50" placeholder="Type your message here.."></textarea>
                </div>
                <div class=" modal-body row"  style="margin-left: 10px;">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Send</button>
                </div>


            </div>


        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->




    <!--end of modal-->

    <!-- javascripts -->
    <script src="js/jquery.js"></script>
    <script src="js/jquery-ui-1.10.4.min.js"></script>
    <script src="js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="js/jquery-ui-1.9.2.custom.min.js"></script>
    <!-- bootstrap -->
    <script src="js/bootstrap.min.js"></script>
    <!-- nice scroll -->
    <script src="js/jquery.scrollTo.min.js"></script>
    <script src="js/jquery.nicescroll.js" type="text/javascript"></script>
    <!-- charts scripts -->
    <script src="assets/jquery-knob/js/jquery.knob.js"></script>
    <script src="js/jquery.sparkline.js" type="text/javascript"></script>
    <script src="assets/jquery-easy-pie-chart/jquery.easy-pie-chart.js"></script>
    <script src="js/owl.carousel.js" ></script>
    <!-- jQuery full calendar -->
    <<script src="js/fullcalendar.min.js"></script> <!-- Full Google Calendar - Calendar -->
    <script src="assets/fullcalendar/fullcalendar/fullcalendar.js"></script>
    <!--script for this page only-->
    <script src="js/calendar-custom.js"></script>
    <script src="js/jquery.rateit.min.js"></script>
    <!-- custom select -->
    <script src="js/jquery.customSelect.min.js" ></script>
    <script src="assets/chart-master/Chart.js"></script>

    <!--custome script for all page-->
    <script src="js/scripts.js"></script>
    <!-- custom script for this page-->
    <script src="js/sparkline-chart.js"></script>
    <script src="js/easy-pie-chart.js"></script>
    <script src="js/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="js/jquery-jvectormap-world-mill-en.js"></script>
    <script src="js/xcharts.min.js"></script>
    <script src="js/jquery.autosize.min.js"></script>
    <script src="js/jquery.placeholder.min.js"></script>
    <script src="js/gdp-data.js"></script>
    <script src="js/morris.min.js"></script>
    <script src="js/sparklines.js"></script>
    <script src="js/charts.js"></script>
    <script src="js/jquery.slimscroll.min.js"></script>

    <!--<script src="angular/indexController.js"></script>-->
    <script>

        //knob
        $(function() {
            $(".knob").knob({
                'draw' : function () {
                    $(this.i).val(this.cv + '%')
                }
            })
        });

        //carousel
        $(document).ready(function() {
            $("#owl-slider").owlCarousel({
                navigation : true,
                slideSpeed : 300,
                paginationSpeed : 400,
                singleItem : true

            });
        });

        //custom select box

        $(function(){
            $('select.styled').customSelect();
        });

        /* ---------- Map ---------- */
        $(function(){
            $('#map').vectorMap({
                map: 'world_mill_en',
                series: {
                    regions: [{
                        values: gdpData,
                        scale: ['#000', '#000'],
                        normalizeFunction: 'polynomial'
                    }]
                },
                backgroundColor: '#eef3f7',
                onLabelShow: function(e, el, code){
                    el.html(el.html()+' (GDP - '+gdpData[code]+')');
                }
            });
        });

    </script>

</body>
</html>