<!DOCTYPE html>
<html lang="en" >
<head>
    <link rel="shortcut icon" href="img/favicon.png">

    <title>Login Page 2 | Creative - Bootstrap 3 Responsive Admin Template</title>

    <!-- Bootstrap CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- bootstrap theme -->
    <link href="css/bootstrap-theme.css" rel="stylesheet">
    <!--external css-->
    <!-- font icon -->
    <link href="css/elegant-icons-style.css" rel="stylesheet" />
    <link href="css/font-awesome.css" rel="stylesheet" />
    <!-- Custom styles -->
    <link href="css/style.css" rel="stylesheet">
    <link href="css/style-responsive.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>

<body class="login-img3-body" ng-app="myApp" ng-controller="AppCtrl">

<div class="container">

    <form class="login-form">
        <div class="login-wrap">
            <p style="font-size: 150%;color: black">Select You Community</p>
            <div class="input-group">
                <!--<span class="input-group-addon"><i class="icon_profile"></i></span>-->
                <!--<input type="text" class="form-control" placeholder="Username" autofocus>-->
                <select class="form-control" ng-model="communityName" style="width: 300px">
                    <option ng-repeat="community in communities" value="{{community.name}}">{{community.name}}</option>
                </select>
            </div>
            <button class="btn btn-primary btn-lg btn-block" ng-click="getConnected()">Get Connected</button>
        </div>
    </form>

</div>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
<script src="angular/indexController.js"></script>

</body>
</html>